/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.demo-1 .large-header {
	background-image: url('../img/demo-1-bg.jpg');
}

.logo{
    float: left;
    width: 60%;
    height: 60%;


}

.logo_box{
	width: 1024px;
	height: 800px;
	padding: 35px;
    color: silver;
	/*color: #EEE; */
	position: absolute;
    left: 0%;
    top: 5%;


}
.logo_box h3{
	text-align: center;
	height: 20px;
	font: 30px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei",sans-serif;
	color: #FFFFFF;
	height: 20px;
	line-height: 20px;
	padding:0 0 35px 0; 
}




.common_table{
	border: 1px solid silver;
    row-span: 2;
}


.h {
    border: 1px solid silver;
    column-span: all;
    text-align: center;
    font-size: xx-large;
	font-family: "Heiti SC";
	color: dodgerblue;
}

.tb{
	margin-top: 0em;
	width: 125%;
	height: 80%;
    text-align: center;
    align-content: center;
    border-radius: 5em;

}

.row_high1{
    height: 15%;
    text-align: center;
    align-content: center;
    border-style: dot-dot-dash;

 }

.row_high2{
    text-align: center;
    align-content: center;
    color: deepskyblue;
    font-family: "Xingkai SC";
    font-size: large;
}

.row_high3{
    text-align: center;
    align-content: center;
    color: cornflowerblue;
    font-family: fantasy,"Monaco", "Courier New", Courier, monospace,"Times New Roman","Bitstream Vera Sans Mono";
    font-size: large;
}

.row_high4{
    text-align: center;
    align-content: center;
    color: #62b6ff;
}

.table1{
    text-align: center;
    column-span: all;
    border: 1px solid silver;
	background-color: silver;
}

.table2{
	border: 1px solid silver;
	column-span: 4;
	row-span: 1;
}

.table3{
	border: 1px solid silver;
    column-span: 1;
    row-span: 1;
}

.forms{
	width: 280px;
	height: 485px;
}
.logon_inof{
	width: 100%;
	min-height: 450px;
	padding-top: 35px;
	position: relative;
}		
.input_outer{
	height: 46px;
	padding: 0 5px;
	margin-bottom: 30px;
	border-radius: 50px;
	position: relative;
	border: rgba(255,255,255,0.2) 2px solid !important;
}
.u_user{
	width: 25px;
	height: 25px;
	background: url(../img/login_ico.png);
	background-position:  -125px 0;
	position: absolute;
	margin: 10px 13px;
}
.us_uer{
	width: 25px;
	height: 25px;
	background-image: url(../img/login_ico.png);
	background-position: -125px -34px;
	position: absolute;
	margin: 10px 13px;
}
.l-login{
	position: absolute;
	z-index: 1;
	left: 50px;
	top: 0;
	height: 46px;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	line-height: 46px;
}
.text{
	width: 220px;
	height: 46px;
	outline: none;
	display: inline-block;
	font: 14px "microsoft yahei",Helvetica,Tahoma,Arial,"Microsoft jhengHei";
	margin-left: 50px;
	border: none;
	background: none;
	line-height: 46px;
}
/*///*/
.mb2{
	margin-bottom: 20px
}
.mb2 a{
	text-decoration: none;
	outline: none;
}
.submit {
	padding: 15px;
	margin-top: 20px;
	display: block;
}
.act-but{
	line-height: 20px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	background: #0096e6;
}