<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title>login</title>
<link rel="stylesheet" type="text/css" href="../static/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="../static/css/demo.css" />
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="../static/css/component.css" />
<!--[if IE]>
<script src="../static/js/html5.js"></script>
<![endif]-->
</head>
<body>
		<div class="container demo-1" >
			<div class="content">
				<div id="large-header" class="large-header">
					<canvas id="demo-canvas"></canvas>
					<div class="logo_box" style="width: 40%;margin-left: 30%">
						<h3>欢迎你</h3>
                        <form action="userlogin/" name="f" method="post">  <!-- action="userlogin/"  -->
                        <!--
						<form action="../../webtable/userManage/userlogin.py" name="f" method="post">
						-->
							<div class="input_outer" >
								<span class="u_user" ></span>
								<input name="username" class="text" style="color: #FFFFFF !important" type="text" placeholder="请输入账户">
							</div>
							<div class="input_outer">
								<span class="us_uer"></span>
								<input name="passwd" class="text" style="color: #FFFFFF !important; position:absolute; z-index:100;"value="" type="password" placeholder="请输入密码">
							</div>
                            <!--
							<div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF">登录</a></div>
							-->
                            <div class="mb2"><input class="act-but submit" href="/loader?next={{ request.path }}" style="color: #FFFFFF;width: 100%" type="submit" value="登录"></div>
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <div class="mb2"><a class="act-but submit" href="/registry?next={{ request.path }}" style="color: #FFFFFF">注册</a></div> <! href="userregistry"   -->
						</form>
					</div>
				</div>
			</div>
		</div><!-- /container -->
		<script src="../static/js/TweenLite.min.js"></script>
		<script src="../static/js/EasePack.min.js"></script>
		<script src="../static/js/rAF.js"></script>
		<script src="../static/js/demo-1.js"></script>
        <script src="../static/js/login.js"></script>
	</body>
</html>