{% extends "login/base.html" %}
{% block title %}Production Dashboard{% endblock %}


{% block batton %}

    <div class="mb2">
        <form action="../userlogout/" name="f" method="post">
        <input name="username" style="color: #FFFFFF;width: 15%;font-size: x-large;font-family: 'Apple Color Emoji';display:none" value="{{username}}">





            <input style="font-size: large;border: transparent;color: #FFFFFF;float:right;background: rgba(74, 134, 232, 0.1);opacity: 30%;width: 10%;height: 60%;" type="submit" value="注销" href="/?next=/">
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>

{% endblock %}



{% block content %}
<!--
    <h3>车间动态化面板</h3>
-->




    <table class="tb">     <!--    -->
        <thead>


        <tr class="row_high1">

            <th class="h" colspan="19">生产车间实时动态化看板</th>

            </tr>
        </thead>
        <tbody >


        <tr class="row_high2">
            <div class="hd">
            <td  class='common_table' rowspan="2">序号</td>
            <td  class='common_table'  rowspan="2">产品描述</td>
            <td  class='common_table'  rowspan="2">产品型号</td>
            <td  class='common_table'  rowspan="2">计划产能(PCS/天)</td>
            <td  class='table2'  colspan="4">实际产能状况(时间段产能)</td>

            <td  class='common_table'  rowspan="2">实际产能(PCS/天)</td>
                <!--
            <td  class='common_table'  rowspan="2">每班计划停机时间（小时）</td>
            <td  class='common_table'  rowspan="2">每班非计划停机损失时间（小时）Unscheduled downtime lost per shift</td>
            -->
            <td  class='common_table'  rowspan="2">每班净生产时间(小时)</td>
            <td  class='common_table'  rowspan="2">生产节拍(秒/件)</td>
            <td  class='common_table'  rowspan="2">不良品</td>
            <td  class='common_table'  rowspan="2">良品率</td>
            <td  class='common_table'  rowspan="2">每班达成率</td>
            <td  class='common_table'  rowspan="2">应出勤人数</td>
            <td  class='common_table'  rowspan="2">实际出勤人数</td>
            </div>
        </tr>

        <tr class="row_high3">

            <td class='table3'>10:00</td>
            <td class='table3'>13:00</td>
            <td class='table3'>15:00</td>
            <td class='table3'>17:30</td>

        </tr>




        {% for record in lists %}


            <tr class="row_high4">
                <td style="border: 1px solid #cccccc;color: deepskyblue;font-family: fantasy">{{record.Item_id}}</td>
                <td style="border: 1px solid #cccccc">{{record.Product_description}}</td>
                <td style="border: 1px solid #cccccc;">{{ record.Part_Number }} </td>
                <td style="border: 1px solid #cccccc">{{record.Planned_Capacity_per_day}}</td>
                <td style="border: 1px solid #cccccc">{{record.Actual_capacity_until_eleven}}</td>
                <td style="border: 1px solid #cccccc">{{ record.Actual_capacity_until_thirteen }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Actual_capacity_until_fiveteen }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Actual_capacity_until_thrty_to_eighteen }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Actual_Capacity_per_day }}</td>

                <!--
                <td style="border: 1px solid #cccccc">{{ record.Scheduled_downtime_per_shirft }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Unscheduled_downtime_lost_per_shirft }}</td>
                -->

                <td style="border: 1px solid #cccccc">{{ record.Net_production_time_per_shift }}</td>
                <td style="border: 1px solid #cccccc">{{ record.production_takt }}</td>
                <td style="border: 1px solid #cccccc">{{ record.defective_products }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Yield_Rate }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Completion_ratio_per_shift }}</td>
                <td style="border: 1px solid #cccccc">{{ record.Attendance_due }}</td>
                <td style="border: 1px solid #cccccc">{{ record.actual_attendence }}</td>
            </tr>


        {% endfor %}


        </tbody>
    </table>
    {% endblock %}

